@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#nav-background-dark {
  background-image: url("./assets/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (min-width: 768px) {
  #nav-background-dark {
    background-image: url("./assets/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}